div#item {
    border: solid 1px black;
    width: 68px;
    height: 43px;
    text-align: center;
    background: rgb(33, 16, 211);
    color: rgb(235, 240, 240);
    border-radius: 14px;
    padding-top: 15px;
    position: absolute;
}